/.DS_Store
/splash.psd
/thumb.psd
/img/.DS_Store
/sections/accordy-slider/thumb.psd
/sections/accordy-slider/splash.psd
/sections/accordy-slider/.DS_Store
/sections/.DS_Store
/sections/splash.psd
/sections/thumb.psd
